.main-button {
    margin-top: 10px;
    margin-bottom: 10px;

    border-width: 2px;
    border-radius: 50px;

    height: 50px;
    max-width: 400px;
    width: 100%;
}

.main-button .grid {
    display: grid;
    grid-template-columns:  45px auto 45px;
    align-items: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    /*justify-items: center;*/
}

.main-button .icon {
    text-align: left;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main-button .icon img {
    margin-top: 1.5px;
    margin-right: 1.5px;
    border-radius: 100%;
}

.main-button .info {
    padding-left: 10px;
    margin-top: -2px;
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-button .pfp {
    text-align: right;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.main-button .pfp img {
    margin-top: 1.5px;
    margin-right: 1.5px;
    border-radius: 100%;
}

/*/////////////////////////////////////////////////////////////////*/

.minor-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    box-sizing: border-box;

    text-align: center;

    display: inline-block;

    padding: 2px;
}

.minor-button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////*/

.directional-button {
    width: 50px;
    height: 31px;
}

.directional-button .arrow{
    font-size: 1.4em;
    font-weight: bold;
}

/*/////////////////////////////////////////////////////////////////*/
.info-button {
    width: 70%;
    height: 70%;
    text-align: left;
    padding: 10px;
}

.info-button .title {
    font-size: 1em;
    font-weight: bold;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.info-button .info {
    padding: 5px;
}