.c1 {
    background-color: #DFB87E;
}

.c2 {
    background-color: #6B92C9;
}

.c3 {
    background-color: white;
}

.c4 {
    background-color: #b9b9b9;
}

.c5 {
    background-color: #7b7b7b;
}

.c6 {
    background-color: #f5f5f5;
}

.c8 {
    background-color: #6ada5b;
}

.c9 {
    background-color: red;
}

.t1 {
    color: red;
}

.t2 {
    color: #0000EE;
}

.t3 {
    color: #b9b9b9;
}

.t4 {
    color: #6B92C9;
}

.t5 {
    color: #DFB87E
}

.t6 {
    color: #6ada5b;
}

.t8 {
    color: rgb(120, 120, 120);
}

.t9 {
    color: white;
}

.b0 {
    border: 0px solid #00000000;
}

.b1 {
    border: 1px solid black;
}

.b2 {
    border: 1px solid #a3d4e6;
}

.b3 {
    border: 1px solid #00000080;
}

.b4 {
    border: 1px solid #6B92C9;
}

.b5 {
    border: 1px solid #ccc;
}

.b6 {
    border: 1px solid #b9b9b9;
}

.b7 {
    border: 1px solid #6ada5b;
}

.b8 {
    border: 1px solid red;
}

.s1 {
    -webkit-box-shadow: 0 8px 6px -6px #00000030;
	   -moz-box-shadow: 0 8px 6px -6px #00000030;
	        box-shadow: 0 8px 6px -6px #00000030;
}