#guardian-home {
    text-align: center;
}

#guardian-home .recomendation * {
    padding: 15px;
}

#guardian-home .minor-button{
    padding: 3px;
}

#guardian-home .notification {
    width: 100%;
    max-width: 400px;
    text-align: left;
    padding: 5px;
}

#guardian-home .notification * {
    padding: 5px 5px;
}

#guardian-home .notification .title {
    font-weight: bold;
}