#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#header span {
    height: inherit;
}

#header .logo {
    height: inherit;
}

#header .left {
    float: left;
}

#header .right {
    float: right;
    font-size: 30px;
    padding: 10px;
}

#header .mid {
    float: left;
}