.text-input {
    text-align: left;
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    height: 38px;
    display: inline-block;
    box-sizing: border-box;
}

.text-input .text-area {
    background-color: inherit;
    outline: none;
    width: 100%;
}

.text-input .text-area:focus {
    background-color: inherit;
    outline: none;
}

.text-input .title {
    font-size: 0.8em;
    display: block;
    position: relative;
    top: -0.5em;
    right: -0.1em;
}

.text-input .shift{
    background-color: inherit;
    position: relative;
    top: -0.5em;
}